:root {
    --hover-color: rgb(33, 150, 243);
    --white: rgb(255, 255, 255);
    --link-list-text: rgb(117, 117, 117);
    --main-title: rgb(33, 33, 33);
    --head-footer-bg: rgb(47, 48, 58);
    --logo: rgb(0, 0, 0);
    --teem-bg: rgb(245, 244, 250);
    --pf-filter: rgb(245, 245, 245);
    
    --footer-contact: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


body {
    font-family: 'Roboto', sans-serif;

}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.header-button {
    background-color: var(--hover-color);
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border-radius: 4px;
}

.button {
    border: none;
}

.header {

    background-color: var(--white);
}

.main-head {

    background: var(--head-footer-bg);
    ;
}

.main-title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

}

.header-logo {
    font-family: raleway;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo);

}

.logo-web {
    color: var(--hover-color);
}


.header-list-link {
    color: var(--main-title);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.333;
    letter-spacing: 0.02em;
}


.header-list-link:hover,
.header-list-link:focus {
    color: var(--hover-color);
}

.contact-link {
    color: var(--link-list-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.333;

}

.contact-link:hover,
.contact-link:focus {
    color: var(--hover-color);
}

/* Main*/

.list-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.list-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--link-list-text);
}

.second-title {
    color: var(--main-title);
    font-size: 36px;
    line-height: 1.17;
}

.teem {
    background-color: var(--teem-bg);
}

.teem-item {
    background-color: var(--white);
    
}

.teem-title {
    font-weight: 500;
    font-size: 16px;
        line-height: 1.19;
        color: var(--main-title);
}

.teem-text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--link-list-text);
}

/* footer */

.footer {
    background-color: var(--head-footer-bg);
}

.footer-logo {
    font-family: raleway;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white);
}

.footer-contact-link {

    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-contact);
}

.contact-link-map {
    color: var(--white);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--white);
}

/* Portfolio */

.main-filter {
    color: var(--pf-filter);
}

.filter-button {
    color: var(--main-title);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    background-color: var(--teem-bg);
    cursor: pointer;
    border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white);
    background-color: var(--hover-color);
}

.filter-title {
    color: var(--main-title);
    font-size: 18px;
    line-height: 2;
}

.filter-text {
    color: var(--link-list-text);
    font-size: 16px;
    line-height: 1.88;
}